/*
Light theme for The Lounge.

Installation instructions can be found here
https://thelounge.github.io/docs/server/configuration.html#theme

Author: Bews
GitHub: https://github.com/bews/lounge-light
*/

body { background: #4d5250; }

#chat .self .text { color: #222; }
#chat .time { color: #ccc !important; }

#sidebar .chan:first-child { color: #4fe5ff; }
#sidebar .chan:first-child:hover,
#sidebar .chan:first-child.active { color: #fff; }

#chat .chat,
#chat .sidebar { top: 48px !important; }
#chat .msg { border-top: 1px solid #f6f6f6; }
#chat .msg.self + .msg { border-top: 1px solid rgb(104, 222, 211); }
#chat .msg.highlight + .msg { border-top: 1px solid rgb(255,120,120); }

#chat .msg.self + #chat .msg,
#chat .date-marker + .msg,
#chat .unread-marker + .msg,
#chat .msg + .toggle,
#chat .date-marker-container + .msg {
	border-top: none !important;
}

#chat .names > div:first-child { margin-top: -10px; }

#chat .user-mode:before {
	border-bottom: none;
	margin-bottom: 0;
	border-top: 1px solid #eee;
	margin-top: 10px;
}

::-webkit-scrollbar-thumb:vertical { background: rgba(0, 0, 0, .2); }

#chat a { color: #03a9f4; }

#sidebar .chan:before { display: none; }

#sidebar .chan,
#sidebar .chan-placeholder { padding: 6px 10px 8px 10px; }

#chat .action .text { color: #f39c12; }
#chat .topic .text { color: #009300; }
