/*
Light theme for The Lounge.

Installation instructions can be found here
https://thelounge.github.io/docs/server/configuration.html#theme

Author: Bews
GitHub: https://github.com/bews/lounge-light
*/

body { background: rgb(68, 70, 68); }

#sidebar .chan .name:after {
	background: linear-gradient(to right, rgba(68, 70, 68, 0) 0%, rgba(68, 70, 68, 1) 100%);
}

#chat .self .text { color: #222; }
#chat .time { color: #ccc !important; }

#sidebar .chan:first-child { color: #4fd5ff; }
#sidebar .chan:first-child:hover,
#sidebar .chan:first-child.active { color: #fff; }

#chat .chat,
#chat .sidebar { top: 48px !important; }
#chat .msg { border-top: 1px solid #f6f6f6; }
#chat .msg.self + .msg { border-top: 1px solid rgb(104, 222, 211); }
#chat .msg.highlight + .msg { border-top: 1px solid rgb(255, 90, 90); }
#chat .channel .highlight .text { color: #222; }

#chat .msg.self + #chat .msg,
#chat .date-marker + .msg,
#chat .unread-marker + .msg,
#chat .msg + .toggle,
#chat .date-marker-container + .msg {
	border-top: none !important;
}

#chat .names > div:first-child { margin-top: -10px; }

#chat .user-mode:before {
	border-bottom: none;
	margin-bottom: 0;
	border-top: 1px solid #eee;
	margin-top: 10px;
}

::-webkit-scrollbar-thumb:vertical { background: rgba(0, 0, 0, .2); }

#chat a { color: #03a9f4; }

#sidebar .chan:before { display: none; }

#sidebar .chan,
#sidebar .chan-placeholder { padding: 6px 10px 8px 10px; }

#chat .action .text { color: #f39c12; }
#chat .topic .text { color: #009300; }

/* Generate different shades for your theme here: https://colors.bews.me/ */
#chat.colored-nicks .user.color-1 { color: #e566ff; }
#chat.colored-nicks .user.color-2 { color: #0af; }
#chat.colored-nicks .user.color-3 { color: #a0f; }
#chat.colored-nicks .user.color-4 { color: #f00; }
#chat.colored-nicks .user.color-5 { color: #006aff; }
#chat.colored-nicks .user.color-6 { color: #f0f; }
#chat.colored-nicks .user.color-7 { color: #0cc; }
#chat.colored-nicks .user.color-8 { color: #a0c; }
#chat.colored-nicks .user.color-9 { color: #7366ff; }
#chat.colored-nicks .user.color-10 { color: #d400ff; }
#chat.colored-nicks .user.color-11 { color: #1500ff; }
#chat.colored-nicks .user.color-12 { color: #66a6ff; }
#chat.colored-nicks .user.color-13 { color: #6bc; }
#chat.colored-nicks .user.color-14 { color: #fa0; }
#chat.colored-nicks .user.color-15 { color: #0c0; }
#chat.colored-nicks .user.color-16 { color: #f0c000; }
#chat.colored-nicks .user.color-17 { color: #6cf; }
#chat.colored-nicks .user.color-18 { color: #0c9; }
#chat.colored-nicks .user.color-19 { color: #090; }
#chat.colored-nicks .user.color-20 { color: #c00; }
#chat.colored-nicks .user.color-21 { color: #08c; }
#chat.colored-nicks .user.color-22 { color: #ff66d9; }
#chat.colored-nicks .user.color-23 { color: #10c; }
#chat.colored-nicks .user.color-24 { color: #c09; }
#chat.colored-nicks .user.color-25 { color: #739900; }
#chat.colored-nicks .user.color-26 { color: #0ac; }
#chat.colored-nicks .user.color-27 { color: #099; }
#chat.colored-nicks .user.color-28 { color: #9c0; }
#chat.colored-nicks .user.color-29 { color: #ff00bf; }
#chat.colored-nicks .user.color-30 { color: #cc0; }
#chat.colored-nicks .user.color-31 { color: #c80; }
#chat.colored-nicks .user.color-32 { color: #ff8000; }

#chat .user.disconnected, #chat.colored-nicks .user.disconnected {
	color: #999;
}